.topheader {
    background-color:  #0078d4;
    text-align: center;
    padding: 20px;
    height: 10px;

  }

  .footer{
    background-color:  #0078d4;
    text-align: center;
    padding: 20px;
    height: 40px;
    margin-top: 50px;
  
    
  }

  .logot{
    color: white;
    font-size: 30px;
    margin: 10px 0px 10px 20px;
   }

